@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nambrot\/devstufff\/erutpa\/app\/styles\/_searches\.scss}line{font-family:\000031}}
.erutpa-keyword-card-search-card {
  box-shadow: rgba(0, 0, 0, 0.04706) 0px 2px 3px 0px;
  background: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nambrot\/devstufff\/erutpa\/app\/styles\/_searches\.scss}line{font-family:\000037}}
.erutpa-keyword-card-search-card.erutpa-wikipedia .erutpa-wikipedia-search-result-snippet {
  padding: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nambrot\/devstufff\/erutpa\/app\/styles\/_searches\.scss}line{font-family:\0000311}}
.erutpa-keyword-card-search-card.erutpa-wikipedia img {
  float: left;
  margin-bottom: 12px;
  margin-right: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nambrot\/devstufff\/erutpa\/app\/styles\/_searches\.scss}line{font-family:\0000317}}
.erutpa-keyword-card-search-card.erutpa-wikipedia h5 {
  padding: 0;
  margin-bottom: 12px;
  font-size: 1.2rem;
  font-weight: lighter;
  font-family: HelveticaNeue-Light;
  font-size: 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nambrot\/devstufff\/erutpa\/app\/styles\/_searches\.scss}line{font-family:\0000326}}
.erutpa-keyword-card-search-card.erutpa-wikipedia p {
  font-size: 0.7rem;
  color: #525252;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nambrot\/devstufff\/erutpa\/app\/styles\/content\.scss}line{font-family:\000034}}
.erutpa-learn-more-button-container {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nambrot\/devstufff\/erutpa\/app\/styles\/content\.scss}line{font-family:\000036}}
.erutpa-learn-more-button-container .erutpa-learn-more-button {
  position: absolute;
  top: -23px;
  right: -105px;
  content: "Learn more";
  font-size: 16px;
  border: 2px solid #EEE;
  border-radius: 7px;
  padding: 6px;
  background-color: #EEE;
  box-shadow: 2px 3px 13px -5px #242424;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nambrot\/devstufff\/erutpa\/app\/styles\/content\.scss}line{font-family:\0000325}}
.erutpa-learn-more-button-container .erutpa-learn-more-button:hover {
  cursor: pointer;
  box-shadow: 2px 3px 23px -5px #242424;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nambrot\/devstufff\/erutpa\/app\/styles\/content\.scss}line{font-family:\0000332}}
#erutpa-main-component {
  display: none;
  top: 0px;
  position: absolute;
  width: 400px;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.29804) 10px 14px 40px -1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nambrot\/devstufff\/erutpa\/app\/styles\/content\.scss}line{font-family:\0000335}}
#erutpa-main-component.show {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nambrot\/devstufff\/erutpa\/app\/styles\/content\.scss}line{font-family:\0000345}}
.erutpa-keyword-card {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nambrot\/devstufff\/erutpa\/app\/styles\/content\.scss}line{font-family:\0000349}}
.erutpa-keyword-card > header {
  height: 60px;
  line-height: 60px;
  font-size: 23px;
  background-color: white;
  padding: 0px 20px;
  font-family: HelveticaNeue-Light;
  box-shadow: 0px 8px 10px -3px #AAA;
  cursor: move;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -ms-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  transform: translateZ(1px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nambrot\/devstufff\/erutpa\/app\/styles\/content\.scss}line{font-family:\0000361}}
.erutpa-keyword-card .erutpa-keyword-card-canvas {
  margin: 0px;
  background-color: #EFEFEF;
  padding: 12px;
  overflow: scroll;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nambrot\/devstufff\/erutpa\/app\/styles\/content\.scss}line{font-family:\0000369}}
.erutpa-keyword-card .erutpa-keyword-card-canvas .erutpa-keyword-card-result-item {
  background-color: white;
  overflow: hidden;
  margin: 14px 2px;
  overflow: hidden;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nambrot\/devstufff\/erutpa\/app\/styles\/content\.scss}line{font-family:\0000375}}
.erutpa-keyword-card .erutpa-keyword-card-canvas .erutpa-keyword-card-result-item p {
  font-size: 13px;
}
