@import "compass";

.erutpa-learn-more-button-container {
  position: relative;
  .erutpa-learn-more-button {
    position: absolute;
    top: -23px;
    right: -105px;
    content: "Learn more";
    font-size: 16px;
    border: 2px solid #EEE;
    border-radius: 7px;
    padding: 6px;
    background-color: #EEE;
    box-shadow: 2px 3px 13px -5px #242424;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    &:hover {
      cursor: pointer;
      box-shadow: 2px 3px 23px -5px #242424;      
    }
  }
}

#erutpa-main-component {
  display: none;

  &.show {
    display: block;
  }
  top: 0px;
  position: absolute;
  width: 400px;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.298039) 10px 14px 40px -1px;
}

.erutpa-keyword-card {
  // background-color: #EFEFEF;
  overflow: hidden;

  & > header {
    height: 60px;
    line-height: 60px;
    font-size: 23px;
    background-color: white;
    padding: 0px 20px;
    font-family: HelveticaNeue-Light;
    box-shadow:  0px 12px 50px -3px #AAA;
    @include transform(translateZ(1px));
  }

  .erutpa-keyword-card-header {
    cursor: move;
  }
  .erutpa-keyword-card-canvas {

    margin: 0px;
    background-color: #EFEFEF;
    padding: 12px;
    height: 200px;
    overflow: scroll;

    .erutpa-keyword-card-result-item {
      background-color: white;
      overflow: hidden;
      margin: 14px 2px;
      @include clearfix;

      p {
        font-size: 13px;
      }
    }
  }

}